<div class="user-data-container">
    <p class="user-data">Display name: {{displayName}}</p>
    <p class="user-data">Email: {{email}}</p>
    <p class="user-data">Email verified: {{emailVerified}}</p>
    <p class="user-data">Age: {{Age}}</p>
</div>
<img class="home-img" src="../../images/chess.png" alt="chess pieces">