<footer>
    <div class="footer" id="footer">
        <div class="footer-text">Be social:</div>
        <div class="footer-logos">
            <div class="social">
                <a href="javascript:fbShareCurrentPage()" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+escape(window.location.href)+'&t='+document.title, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500');return false;">
                    <i class=" fa fa-facebook">Share on Facebook</i></a></br>

                <a href="https://www.youtube.com"> <i class="fa fa-youtube">Click for Youtube</i> </a>
            </div>
        </div>
    </div>
</footer>