<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home"> Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/home/search">Search</a></li>
                <li><a href="#/home/favourites">Favourite Games</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#/home" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/home/settings">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#/home/help">Help</a></li>
                    </ul>
                </li>
                <li id="logout-btn"><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>