<div id="clock-container" width="500" align="right">
</div>
<div class="jumbotron">
    <h1>Welcome to our Chess Game!</h1>
    <h3>Just for fun</h3>
</div>

<ul class="list-group initial-page-text">
    <li class="list-group-item"> New Game</li>
    <li class="list-group-item"> Scores</li>
</ul>
</div>

<button id="signup-btn-initial" class="btn btn-primary btn-round"><a href="#/signup">Sign up</a></button>
<button id="login-btn-initial" class="btn btn-primary btn-round"><a href="#/login">Login</a></button>