<h1>Update Email</h1>

<div id="update-container" class="card card-update">
    <form class="form" method="POST" action="#/home/settings/email">
        <h3 id="enter-details-text">Enter New Email</h3>
        <div class="content">

            <div class="input-group">
                <span class="input-group-addon">
										</span>
                <input name="email" id="email-input" type="text" class="form-control" placeholder="Email">
            </div>
        </div>

        <h4 id="enter-details-text">Confirm Email</h4>
        <div class="content">

            <div class="input-group">
                <span class="input-group-addon">
										</span>
                <input name="email" id="email-input" type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Update Email!</button>
        </div>
    </form>
</div>