<h1>Update Password</h1>

<div id="update-container" class="card card-update">
    <form class="form" method="POST" action="#/home/settings/password">
        <h3 id="enter-details-text">Enter New Password here</h3>
        <div class="content">
            <div class="input-group">
                <span class="input-group-addon">
										</span>
                <input name="password" id="password-input" type="password" placeholder="Password" class="form-control" />
            </div>

        </div>
        <h4 id="enter-details-text">Confirm Password</h4>
        <div class="content">
            <div class="input-group">
                <span class="input-group-addon">
										</span>
                <input name="password" id="password-input" type="password" placeholder="Password" class="form-control" />
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Update Password!</button>
        </div>
    </form>
</div>