html {
    background: #c9e3c9;
    z-index:0;
}

body {
    font-size: 14px;
}

.main-container{
    background: #c9e3c9;
    padding-top: 3%;
    padding-left: 3%;
    z-index:0;
}

.navbar{
    margin-bottom: 0px!important;
}

.navbar a:hover {
    background-color: #c9e3c9!important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 50%, transparent 50%, transparent)!important;
    background-size: 5px 5px;
    z-index: 15;
}

.user-data-container{
    position: relative;
    width: 30%;
    padding: 1%;
    padding-left: 1.2%;
    height: 450px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(240,242,138,1) 0%,rgba(240,242,138,0) 50%,rgba(240,242,138,0) 100%);
}

.user-data{
    opacity: 1;
}

#game-canvas-container {
    width: 512px;
    height: 512px;
    margin: 0px auto;
    z-index: 10;
}

#game-canvas {
    border: 2px solid black;
}


#game-canvas {
    z-index: 100;
}

#footer {
    position: fixed;
    bottom: 5%;
    left: 3%;
}

a{
    text-decoration: none;
}

ul.social {
    list-style-type: none;
}
.social i{
    font-style: normal;
}

.social a:hover {
    background-color: lightgreen;
    text-decoration: none;
}

.help{
    padding: 15px;
}

img{
    z-index: 30;
}

p.info{
    font-size: 14px;
    width: 70%;
    line-height: 1.5;
}

.home-img{
    position: fixed;
    bottom: 5%;
    right: 3%;
    opacity: 0.5;
}